# <img style="float: left; padding-right: 10px; width: 45px" src="https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/iacs.png"> CS109A Introduction to Data Science: 

## Final Project Group 40: Trump Tweets and Market Volatility


**Harvard University**<br/>
**Fall 2019**<br/>
**Group**: Dylan DeMarco, Daiki Ina, Roger Zhang, Jerry Huang

<hr style="height:2pt">

In [67]:
import requests
from IPython.core.display import HTML, display
styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
HTML(styles)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid')
pd.set_option('display.width', 1500)
pd.set_option('display.max_columns', 100)

import pandas_profiling

In [68]:
vix_df = pd.read_csv('./data/raw/vix_data.csv', index_col=0)
vix_df.Date = pd.to_datetime(vix_df.Date)
# We only use Open in our models
vix_df = vix_df.drop(columns=['VIX High', 'VIX Low', 'VIX Close'])
# Drop enough days to use DOW even in models where we don't need it for fair comparison
vix_df = vix_df.loc[vix_df.Date > '2016-11-16']

In [72]:
tweet_df = pd.read_csv('./data/raw/tweet_data.csv', index_col=0)
tweet_df.head(3)
# tweet_count = tweet_df.groupby('day').count()
# tweet_daily = tweet_df.groupby('day').sum()

                source                                               text           created_at  retweet_count  favorite_count is_retweet              id_str
0  Twitter for Android  Such a beautiful and important evening! The fo...  11-09-2016 11:36:58         220796          633253      False  796315640307060738
1   Twitter for iPhone  Happy 241st birthday to the U.S. Marine Corps!...  11-10-2016 19:31:27          45576          169729      False  796797436752707585
2  Twitter for Android  A fantastic day in D.C. Met with President Oba...  11-11-2016 02:10:46          37788          192638      False  796897928048766976

In [ ]:
# Group tweets
# https://stackoverflow.com/questions/14529838/apply-multiple-functions-to-multiple-groupby-columns
tweet_df.groupby('ref_date').agg({'polarity':['mean', 'max'], 
                         'word_mentions':'sum', })

In [60]:
dow_df = pd.read_csv('./data/raw/dow_range_past5days_data.csv')
dow_df.head(3)

         Date  dow_d_min_1  dow_d_min_2  dow_d_min_3  dow_d_min_4  dow_d_min_5
0  2016-11-17    83.958984   119.199219   118.300781   118.818359   270.519531
1  2016-11-18    58.759766    83.958984   119.199219   118.300781   118.818359
2  2016-11-21    61.910156    58.759766    83.958984   119.199219   118.300781

### Base Model

### Num Tweets

### Num Tweets (Filtered)

### Granular Tweet

### Granular Tweet (Filtered)

### Granular Tweet + DOW